body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
  color: var(--color-secondary-text);
}

li a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
}
.logo-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 1.125rem;
  line-height: 1.3125rem;
}
.logo-header-blue {
  color: var(--IRIS, #4d5ae5);
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03375rem;
}
.logo-header-blue:hover,
.logo-header-blue:focus {
  color: rgb(110, 136, 73);
}
.logo-header:hover,
.logo-header:focus {
  color: rgb(110, 136, 73);
}
.menu-nav {
}
.link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-weight: 500;
  line-height: 1.5rem;
}
.contacts-link {
  color: var(--SLATE, #434455);
  line-height: 1.5rem;
}

.top-line-bg {
  background: var(--WHITE, #fff);
}
.top-line {
}

.hero {
  background: var(--NAVY-BLUE, #2e2f42);
}

h1 {
  color: var(--WHITE, #fff);
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.75rem;
}

.button-text {
  color: var(--WHITE, #fff);
  font-weight: 500;
  line-height: 1.5rem;
}
button {
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.section {
  width: 70.5rem;
  height: 6.5rem;
  flex-shrink: 0;
}
.features-list {
  width: 16.5rem;
}
.character-traits {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.section-team-text {
  color: var(--SLATE, #434455);
  line-height: 1.5rem;
}
.section-team {
  width: 1440px;
  height: 732px;
  background: var(--CLOUD, #f4f4fd);
}

.section-team {
  width: 90rem;
  height: 45.75rem;
}

.team-card {
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.card-content {
  width: 14.5rem;
}
.card-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.team-text {
  color: var(--SLATE, #434455);

  font-size: 1rem;
  line-height: 1.5rem;
}
.section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.section-portfolio {
  width: 70.5rem;
  height: 62.5rem;
}
.rowy {
  width: 70.5rem;
  height: 26.25rem;
}
.porfolio-content {
}
.project-card {
  width: 22.5rem;
  height: 26.25rem;

  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}
.my-gallery {
  width: 22.5rem;
  height: 18.75rem;
  background: url(<path-to-image>),
    lightgray -25.026px 0px / 125% 100% no-repeat;
}
.gallery-text {
  color: var(--SLATE, #434455);
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer-content {
  width: 90rem;
  height: 19.5rem;
  background: var(--NAVY-BLUE, #2e2f42);
}

.logo-footer {
  color: var(--CLOUD, #f4f4fd);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.logo-header-white {
  width: 71px;
  height: 21px;
  color: var(--CLOUD, #f4f4fd);
  font-size: 18px;
  font-weight: 700;
}
