body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: #fff;
  color: var(--color-secondary-text);
}

li a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  display: inline-flex;
  height: 1.5rem;
  align-items: center;
  flex-shrink: 0;
}
.logo-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
}
.logo-header-blue {
  color: var(--IRIS, #4d5ae5);
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
}
.logo-header-blue:hover,
.logo-header-blue:focus {
  color: rgb(110, 136, 73);
}
.logo-header:hover,
.logo-header:focus {
  color: rgb(110, 136, 73);
}
.menu-nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 2.5rem;
  list-style: none;
}
.link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  list-style: none;
}
.contacts-link {
  color: var(--SLATE, #434455);
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}

.top-line-bg {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  list-style: none;
}
.top-line {
  display: flex;
  width: 90rem;
  height: 4.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.hero {
  width: 90rem;
  height: 37.5rem;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
}

h1 {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: 0.07rem;
}

.button-text {
  color: var(--WHITE, #fff);
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
}
button {
  display: inline-flex;
  padding: 1rem 2rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.section {
  width: 70.5rem;
  height: 6.5rem;
  flex-shrink: 0;
}
.features-list {
  display: flex;
  width: 16.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.character-traits {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
}
.section-team-text {
  color: var(--SLATE, #434455);
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}
.section-team {
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
  background: var(--CLOUD, #f4f4fd);
}

.section-team {
  width: 90rem;
  height: 45.75rem;
  flex-shrink: 0;
}

.team-card {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.card-content {
  display: flex;
  width: 14.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.card-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
}
.team-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}
.section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.045rem;
  text-transform: capitalize;
}

.section-portfolio {
  width: 70.5rem;
  height: 62.5rem;
  flex-shrink: 0;
}
.rowy {
  width: 70.5rem;
  height: 26.25rem;
  flex-shrink: 0;
}
.porfolio-content {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.project-card {
  display: flex;
  width: 22.5rem;
  height: 26.25rem;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex-shrink: 0;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}
.my-gallery {
  width: 22.5rem;
  height: 18.75rem;
  flex-shrink: 0;
  background: url(<path-to-image>),
    lightgray -25.026px 0px / 125% 100% no-repeat;
}
.gallery-text {
  color: var(--SLATE, #434455);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}
main {
  width: 90rem;
  height: 206.25rem;
  background: #fff;
}
.footer-content {
  width: 90rem;
  height: 19.5rem;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
}

.logo-footer {
  display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  color: var(--CLOUD, #f4f4fd);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.logo-header-white {
  display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  color: var(--CLOUD, #f4f4fd);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
