body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
  color: #434455;
  display: flex;
  padding: 1rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
  border-radius: 1rem 1rem 0rem 0rem;
}
.logo {
  display: inline-flex;
  height: 1.5rem;
  align-items: center;
  flex-shrink: 0;
  line-height: 1.17;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-blue {
  color: #4d5ae5;
}
.logo .logo-header:hover,
.logo .logo-header:focus {
  color: #404bbf;
}

.address-contacts {
  font-style: normal;
}
.menu-nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 2.5rem;
}
.link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

.contacts-link {
  color: var(--SLATE, #434455);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}
.contact-line {
  background: var(--WHITE, #fff);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.top-line {
  width: 90rem;
  height: 4.5rem;
  flex-shrink: 0;
}

.hero {
  width: 90rem;
  height: 37.5rem;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
}

.hero-content {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.07rem;
  text-align: center;
}

.button-text {
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
}
button {
  cursor: pointer;
  display: inline-flex;
  padding: 1rem 2rem;
  align-items: flex-start;
  gap: 0.625rem;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-text:hover,
.button-text:focus {
  background-color: #404bbf;
}

.sector-character {
  display: flex;
  width: 16.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.character-list {
  width: 70.5rem;
  height: 6.5rem;
  flex-shrink: 0;
  letter-spacing: 0.02em;
  border-radius: 0rem 0rem 0.25rem 0.25rem;
}
.character-traits {
  color: #2e2f42;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
}
.character-text {
  color: var(--SLATE, #434455);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}
.sector-photo {
  width: 90rem;
  height: 45.75rem;
  background: #f4f4fd;
}
.name-photo-gallery {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.045rem;
  text-transform: capitalize;
}

.content-list {
  display: flex;
  width: 14.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 0.02em;
  border-radius: 0rem 0rem 0.25rem 0.25rem;
}
.team-card {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.card-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: #ffffff;
}
.card-personal {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--SLATE, #434455);
  letter-spacing: 0.02em;
  font-size: 1rem;
  line-height: 1.5rem;
}

.portfolio {
  width: 90rem;
  height: 206.25rem;
  background: #fff;
}
.rowy {
  width: 70.5rem;
  height: 26.25rem;
  flex-shrink: 0;
  display: flex;
}

.project-card {
  letter-spacing: 0.02em;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background-color: #ffffff;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.my-gallery {
  width: 22.5rem;
  height: 18.75rem;
  flex-shrink: 0;
}
.gallery-text {
  color: var(--SLATE, #434455);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}
.content-footer {
  width: 90rem;
  height: 19.5rem;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}

.logo-white {
  width: 71px;
  height: 21px;
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
}
